<div class="container_show">
  <h1>Favorite Recipes</h1>
</div>

<table class="table table-striped">
  <thead>
  
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
   
      
    <% end %>
  </tbody>
</table>
