<div class="container_show">
  <h1>Favorite Recipes</h1>
</div>

<table class="table table-striped">
  <thead>
  
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
    <tr>
      <td> <%= link_to recipe.name, recipes_path %></td></td>
    </tr>
   
      
    <% end %>
  </tbody>
</table>
